<div id="cookies-eu-banner" style="display: none">
  By continuing to visit this site, you accept the use of cookies by Google
  Analytics for statistical purposes.
  <a
    href="https://www.cookielaw.org/google-analytics-eu-cookie-law/"
    id="cookies-eu-more"
    >Read more</a
  >
  <button id="cookies-eu-reject">Reject</button>
  <button id="cookies-eu-accept">Accept</button>
</div>
<div id="spinner-back"></div>
<div id="spinner-front"><img src="./img/loading.gif" /><br /></div>
