<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          A "no responsibility" disclaimer
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        No warranties whatsoever! The service can go down without any alert. We
        take no responsibility for anything beyond our control. The website can
        hit usage limits for services like Openweathermap.org and Google maps
        and goes off. Please note also that this website relies fully on data
        provided by other weather services like Openweathermap.org. This means
        forecast can be inaccurate or incomplete. The website can be buggy
        including UI rendering and data consistency. The service does not gather
        or use any user information in any way. We use Google Analytics however
        which tracks and reports website traffic based on cookies that store
        anonymous information. The only cache is "searched cities" for faster
        responses;
        <div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
