<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-0 my-0">
        <a class="navbar-brand" href="/">
          <img id='logo' src="../../img/weather_venue_856-8.png" alt="weathervenue.com" width="100" alt="weathervenue" class="d-inline-block align-middle mr-2">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item inactive">
              <a class="nav-link disabled" id="widget" href="#">City week forecast</a>
            </li>
            <li class="nav-item btn btn-secondary">
              <a class="nav-link" href="weather_map_view">Weather map</a>
            </li>
            <li class="nav-item btn btn-secondary">
              <a class="nav-link" href="#">Donate</a>
            </li>
            <li class="nav-item inactive">
              <a class="nav-link disabled" href="#">Version 2</a>
            </li>
            <li class="nav-item btn btn-secondary">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal">Disclaimer</a>
            </li>
            <li class="nav-item btn btn-secondary">
              <a class="nav-link" href='mailto:&#098;&#097;&#099;&#108;&#111;&#117;&#100;&#049;&#052;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;?subject=About WeatherVenue'>Contact us</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item btn btn btn-info" id="fullscreen">
              <a class="nav-link" href="#">Full Screen</a>
            </li>
            <li class="nav-link">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="darkSwitch" />
                <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
              </div>
              <script src="./js/dark-mode-switch.js"></script>
            </li>
          </ul>
          </ul>
        </div>
      </nav>
</header>