<div id="weatherAlertModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="weatherAlertTitleNode" class="modal-title text-danger">Weather alert!!</h5>
      </div>
      <div id="alertDataContainer" class="modal-body"></div>
      <div class="modal-footer">
        <button id="closeAlertPanelBtn" type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
